#content{
	height: 1700px;
}
#content .tit{
	position: relative;
	height: 50px;
}
.tit .m-w{
	position: absolute;
	width: 150px;
	height: 50px;
	background-color: #F08080;
	border-radius: 25px 25px 25px 25px;
	font-size: 24px;
	color: #fff;
	line-height: 50px;
	text-align: center;
	left: 45%;
 	top:20%;
 	z-index: 1;
}
.tit>div{
	position: absolute;
	height: 4px;
	background-color: #F08080;
	width: 100%;
	z-index: -1;
	top:70%;
}
/* 慕斯 */
.musi, .cake, .mkl{
	width: 1290px;
	height: 500px;
	top: 40px;
	position: relative;
}
.cake{
	height: 550px;
}
.type{
	color: #111;
	font:normal 500 25px/32px 微软雅黑;
	width: 100px;
	height: 32px;
	position:absolute;
	left: 13%;
	top:0;
}
.musi .tab, .cake .c-con, .mkl .m-con{
	position: relative;
	width: 83%;
	height: 400px;
	left: 10%;
	top:9%;
}
.tab .tab_list{
	width: 520px;
	margin-top: 20px;
}
.tab_list li{
	width: 90px;
	height: 90px;
	border-radius: 80px 80px 80px 80px;
	background-color: #FC9D98;
	box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.5);
	margin-right: 25px;
	text-align: center;
	line-height: 90px;
	transition:transform 80ms ease-in;
}
.tab_list li>a{
	color:#004283;
}
.tab_list li:hover{
	transform:scale(0.9);
}
.tab .tab-con img{
	position: absolute;
	height: 400px;
	width: 450px;
	left: 0;
	opacity: 0;
	transition:all 0.5s;
}
.tab-con>img:nth-child(1){
	opacity: 1;
}
.tab .def{
	position: absolute;
	height: 250px;
	right: 5%;
	bottom: 3%;
}
.def>div{
	font-size: 22px;
	color: #267583;
	text-align: center;
}
.def>a, .c-photo>a{
	background-color: red;
	color: white;
	display: inline-block;
	height: 40px;
	width: 180px;
	text-align: center;
	margin: 40px;
	font:normal 200 26px/40px 微软雅黑;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.5);
}
/* 蛋糕 */
.cake{
	top:20px;
}
.cake .c-con{
	position: absolute;
	left: 12%;
	top:20px;
}
.c-con .def{
	position: absolute;
	left: 4%;
	top:10%;
	width: 70px;
}
.c-con .def>div{
	width: 24px;
}
.def .f-2{
	margin-left: 20px;
}
.cake .c-photo{
	position: absolute;
	width: 820px;
	height: 430px;
	left:15%;
	top:30%;
}
.c-photo img{
	width: 260px;
	height: 430px;
	position: absolute;
}
.i-2{
	left: 33%;
	top: -15%;
}
.i-3{
	left: 66%;
	top: -30%;
}
.c-photo>a{
	position: absolute;
	right: 3%;
	bottom: -2%;
}
/* 马卡龙 */
.mkl{
	position: relative;
	top:100px;
}
.mkl ul{
	position: relative;
	left: 15%;
}
.mkl ul li>img{
	width: 300px;
	height: 420px;
	float: right;
	position: absolute;
}
.mkl_cur{
	z-index: 1;
	top:-4px;
	box-shadow: 0 2px 8px 0 rgba(244, 155, 120, 0.5);
}
.mkl .def>a:nth-child(1){
	position: absolute;
	display: block;
	width: 50px;
	height: 200px;
	top:-7%;
}
.mkl .def>a:nth-child(2){
	position: absolute;
	display: block;
	width: 50px;
	height: 170px;
	bottom: -10%;
}
